 .u-section-1 {
  min-height: 965px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 2px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 133px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 194px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 17px 11px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 635px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-form-1 {
  height: 403px;
  width: 570px;
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 21px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 33px;
  min-height: 16px;
  width: 119px;
  min-width: 68px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  width: 302px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 863px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 5px 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
    margin-left: 6px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}